<center><span style="text-align: center;font-family:Sans-serif;">
	<span style="font-size:14px;text-align: center;">
		<font color="#000000" style="text-align: center; font-size: 14px;">
			27-08-2023 <b>NEW</b> CDIS version <b> 3.16.3.0 </b>  
			<br>
			Please use <b>Shift Key + F5</b> or <b>Shift Key + Refresh Button</b> in order to refresh to the new version of CDIS.  
			<br>
			Now you can create your own username by clicking on the button <b>Add new CDIS user</b>
			<br>
			<b><font color="#ff0000">All replacement or temporary personnel are eligible for a personal username.</font></b>
			<br>
			For any question or technical support contact <a href="mailto:support@grvtech.ca">support@grvtech.ca</a>
		</font>
	</span>
</span></center>