<div class="pagebody">
	<div class="admin_frontpage ">
		<h1>Front Page Message</h1>
		<div id="errortext-frontpage" class="errormessage"></div>
		<form name="frontpage" id="frontpage-form">
			<table border="0" width="100%">
				<tr>
					<td valign="top">
						<textarea name="fpmessage" class="jqte-test" id="fpmessage"></textarea>
					</td>
				</tr>
			</table>
			<div id='cancel-frontpage-button' class="cisbutton">Cancel</div> 
			<div id="save-frontpage-button" class="cisbutton">Save Front Page Message</div>
			<div id="clear-frontpage-button" class="cisbutton">Clear Front Page Message</div>
		</form>
		<div>&nbsp;</div>
	</div>
</div>

