<div class="pagebody">
	<div class="admin_audit uss">
		<div class="title">Users stats</div>
		<div id="audit-graphs">
			<div id="audit-top5actions"></div>
			<div id="audit-top5users"></div>
		</div>
		<div id="audit-container">
			<table border=0 id="audit-table" cellpadding=0 cellspacing=0>
				<thead>
					<tr>
						<td>Fist Name</td>
						<td>Last Name</td>
						<td>Action</td>
						<td>Detail</td>
						<td>Timestamp</td>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
		</div>
		<div>&nbsp;</div>
	</div>
</div>
