<div class="pagebody">
	<div class="admin_users uss">
		<h1>Users Administration</h1>
		<div id="users-toolbar">
			<div id="filter-input">
				<input name="filter" id="filter-id" class="filter-input" placeholder="Filter Users"/>
				<div id="clearfilter-button" class="cisbutton">Clear Filter</div>
				<div id="filterpending-button" class="cisbutton">Filter Pending Users</div>
			</div>
			<div id="pendinguser-button" class="cisbutton" data-toggle="tooltip" title="Confirm User Email">Confirm User Email</div>
			<div id="resetpass-button" class="cisbutton" data-toggle="tooltip" title="Reset User Password"><i class="fa fa-refresh"></i> Reset Password User</div>
			<div id="adduser-button" class="cisbutton" data-toggle="tooltip" title="Add new user"><i class="fa fa-plus"></i> Add User</div>
			<div id="edituser-button" class="cisbutton" data-toggle="tooltip" title="Edit user"><i class="fa fa-pencil"></i> Edit User</div>
			<div id="deleteuser-button" class="cisbutton" data-toggle="tooltip" title="Delete user"><i class="fa fa-trash"></i> Delete User</div>
		</div>
		<div id="users-container">
			<table border=0 id="users-table" cellpadding=0 cellspacing=0>
				<thead>
					<tr>
						<td>Fist Name</td>
						<td>Last Name</td>
						<td>Username</td>
						<td>Email</td>
						<td style="width:60px;"></td>
						<td style="width:60px;"></td>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
		</div>
		
		<div id="users-form">
			<form action="" name="userForm" id="user-form">
				<p class="validateTips">All form fields except phone are required.</p>
				<input name="iduser" id="iduser-id" type="hidden"/>
				<table border="0">
					<tr>
						<td class="td-label"><label for="firstname">First Name</label></td>
						<td><input name="firstname" id="firstname-id" type="text" class="text"/></td>
					</tr>
					<tr>
						<td class="td-label"><label for="lastname">Last Name</label></td>
						<td><input name="lastname" id="lastname-id" type="text" class="text"/></td>
					</tr>
					<tr>
						<td class="td-label"><label for="username">Username</label></td>
						<td><input name="username" id="username-id" type="text" class="text" /></td>
					</tr>
					<!-- 
					<tr>
						<td class="td-label"><label for="password">Password</label></td>
						<td><input name="password" id="password-id" type="text" class="text" /></td>
					</tr>
					 -->
					<tr>
						<td class="td-label"><label for="role">Role</label></td>
						<td><select name="role" id="role-id"></select></td>
					</tr>
					<tr>
						<td class="td-label"><label for="profession">HCP Profession</label></td>
						<td><select name="profession" id="profession-id"></select></td>
					</tr>
					<tr>
						<td class="td-label"><label for="idcommunity">Community access</label></td>
						<td>
							<select name="idcommunity" id="idcommunity-id"></select>
						</td>
					</tr>
					<tr>
						<td class="td-label"><label for="email">Email Address</label></td>
						<td><input name="email" id="email-id" type="text" class="text"/></td>
					</tr>
					<tr>
						<td class="td-label"><label for="phone">Phone Number</label></td>
						<td><input name="phone" id="phone-id" type="text" class="text"/></td>
					</tr>
					<tr><td colspan="2"></td></tr>
					<tr>
						<td colspan="2" align="right"><div class="cisbutton" id="save-edituser-button">Save</div> <div class="cisbutton" id="cancel-edituser-button">Cancel</div></td>
					</tr>
				</table>
			</form>
		</div>
		<div>&nbsp;</div>
	</div>
</div>
