<div class="pagebody">
	<div class="admin_audit uss">
		<h1>Users log history</h1>
		<div id="audit-graphs">
			<div id="audit-top5actions"></div>
			<div id="audit-top5users"></div>
		</div>
		<div id="audit-container">
			<table border=0 id="audit-table" cellpadding=0 cellspacing=0>
				<thead>
					<tr>
						<td>Fist Name</td>
						<td>Last Name</td>
						<td>Action</td>
						<td>Detail</td>
						<td>Timestamp</td>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
		</div>
		<div>&nbsp;</div>
	</div>
</div>


<script>
var userActionArray = getUserActions();
drawUserActions(userActionArray);
var userTop5Array = getUsersTop5Dataset();
drawTop5Users(userTop5Array);
var userActionsTop5Array = getUserActionsTop5Dataset();
drawTop5UserActions(userActionsTop5Array);



function drawUserActions(usersArray){
	$("#users-table tbody").empty();
	$.each(userActionArray, function(index, data){
		var tr = $("<tr>",{id:"action-"+index}).appendTo($("#audit-table tbody"));
		$.each(data, function(i, v){
			if(v == null) v = '';
			$("<td>").appendTo(tr).text(v);
		})
	});
}
	
function drawTop5Users(userTop5Array){
	$('#audit-top5users').jqplot(userTop5Array, {
        title:'Top 5 active users last 7 days',
        seriesDefaults:{
            renderer:$.jqplot.BarRenderer,
            pointLabels: { show: true }
        },
        axes:{
            xaxis:{
                renderer: $.jqplot.CategoryAxisRenderer
            }
        }
    });
}

function drawTop5UserActions(userActionsTop5Array){
	
	$('#audit-top5actions').jqplot(userActionsTop5Array, {
        title:'Top 5 actions used last 7 days',
        seriesDefaults:{
            renderer:$.jqplot.BarRenderer,
            rendererOptions: {
                // Set the varyBarColor option to true to use different colors for each bar.
                // The default series colors are used.
                varyBarColor: true
            },
            pointLabels: { show: true }
        },
        
        axes:{
            xaxis:{
                renderer: $.jqplot.CategoryAxisRenderer
            }
        }
    });
}

</script>