<div class="pagebody">
	<div class="panel-section uss" id="lsection_mdvisits">
		<div class="section-header">
				<span class="section-title">Clinical / Screening</span>
				<!-- <span class="section-misc">(Place cursor over selected points of the graph to highlight value and date)</span> -->
			
			<!--   <div class="cisbutton" style="position:absolute;right:10px;top:3px;" title="Print all graphs in section">
			 	Print All Graphs
			 </div>
			-->
		</div>
		 <section>
		 	<!-- 
		 	<div id="lsection_mdvisits_sbp" class="section-line">
		 		<div class="section-line-header"></div>
		 		<div class="section-line-buttons"></div>
		 		<div class="section-line-graph" id="graph-sbp"></div>
		 		<div class="section-line-data" id="data-sbp"></div>
		 	</div>
		 	
		 	<div id="lsection_mdvisits_dbp" class="section-line"></div>
		 	<div id="lsection_mdvisits_weight" class="section-line"></div>
		 	<div id="lsection_mdvisits_height" class="section-line"></div>
		 	 -->
		 	  
			<div style="width:100%;">
					<div class="row" >
						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-4">
									<div class="widget-container" id="sbp_and_dbp"></div>
								</div>
								<div class="col-sm-4">
									<div class="widget-container" id="aer"></div>
								</div>
								<div class="col-sm-4">
									<div class="widget-container" id="weight"></div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<div class="widget-container" id="height"></div>
								</div>
								<div class="col-sm-4">
									<div class="widget-container" id="smoke"></div>
								</div>
								<div class="col-sm-4">
									<div class="widget-container" id="hipo"></div>		
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<div class="widget-container" id="foot"></div>
								</div>
								<div class="col-sm-4">
									<div class="widget-container" id="neuromd"></div>
								</div>
								<div class="col-sm-4">
									<div class="widget-container" id="rpathscr"></div>		
								</div>
							</div>		
						</div>
						<!-- 
						<div class="col-sm-3">
							
							
							
							
						</div>
						 -->
					</div>
			</div>
		 	
		 </section>
	</div>
</div>
<div class="pageside">
	<div class="panel-record uss">
	</div>
</div>
<script src="client/libs/js/pages/widget.js?tsid=20171201" type="text/javascript"></script>
