<div class="pagebody">
	<div class="panel-section uss">
		<div class="section-header">
			<span class="section-title">Patient Health Care Professional Visit Scheduler</span>
		</div>
		
		<div id="errortext-frontpage" class="errormessage"></div>
		
		<section >
			<div style="width:100%;">
			<div class="row">
				<div class="col-sm-6">
					<div id="visits-chr" class="visit uss">
						<div class="visit-title"><span>CHR visit</span></div>
						<div class="visit-body">
							The patient does not have an associated CHR. <div class="cisbutton associate" id="chr-associate">Associate CHR</div>
						</div>
					</div>	
				</div>
				<div class="col-sm-6">
					<div id="visits-md" class="visit uss">
						<div class="visit-title"><span>MD visit</span></div>
						<div class="visit-body">
							The patient does not have an associated MD. <div class="cisbutton associate" id="md-associate">Associate MD</div>
						</div>
					</div>	
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div id="visits-nur" class="visit uss">
						<div class="visit-title"><span>Nurse visit</span></div>
						<div class="visit-body">
							The patient does not have an associated Nurse. <div class="cisbutton associate" id="nur-associate">Associate Nurse</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div id="visits-nut" class="visit uss">
						<div class="visit-title"><span>Nutritionist visit</span></div>
						<div class="visit-body">
							The patient does not have an associated Nutritionist. <div class="cisbutton associate" id="nut-associate">Associate Nutritionist</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		
		</section>
				
		
	</div>
</div>
<div class="pageside">
	<div class="panel-record uss">
	</div>
</div>

