<div class="pagebody">
<div class="cdisbody_editpatient">
		<div class="section-header">
			<span class="section-title">Edit Patient</span>
		</div>
	<div id="errortext-patient" class="errormessage"></div>
	<form name="editpatient" id="editpatient-form" class="patient-info">
		<table border="0" width="100%">
			<tr>
				<td valign="top">
					<table border="0">
						<tr>
							<td class="label-editpatient">RAMQ Number :</td>
							<td>
								<div class="textField">
									<input type="text" name="ramq" id="ramq-value" />
								</div>
							</td>
						</tr>
						<tr>
							<td class="label-editpatient">IPM :</td>
							<td>
								<div class="textField">
									<input type="text" name="giu" id="ipm-value" />
								</div>
								
							</td>
						</tr>
						<tr>
							<td class="label-editpatient">Chart Number :</td>
							<td>
								<div class="textField">
									<input type="text" name="chart" id="chart-value" />
								</div>
								
							</td>
						</tr>
						<tr style="display:none;">
							<td class="label-editpatient">JBQBN :</td>
							<td>
								<div class="textField">
									<input type="text" name="jbnqa" id="jbnqa-value"/>
								</div>
							</td>
						</tr>
						<tr>
							<td class="label-editpatient">Band :</td>
							<td>
								<div class="textField">
								<input type="text" name="band" id="band-value" />
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="padding:5px;">
								<div id="radio-sex" class="btn-group" data-toggle="buttons">
									<label for="male-value" class="btn btn-primary">
										<input type="radio" name="sex" id="male-value" value="1" class="radioField"/>Male
									</label>
									
									<label for="female-value" class="btn btn-primary">
										<input type="radio" name="sex" id="female-value" value="2" class="radioField"/>Female
									</label>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="padding:5px;">
								<div id="radio-iscree" class="btn-group" data-toggle="buttons">
									
									<label for="cree-value" class="btn btn-primary">
										<input type="radio" name="iscree" id="cree-value" value="1" class="radioField"/>Cree
									</label>
									
									<label for="noncree-value" class="btn btn-primary">
										<input type="radio" name="iscree" id="noncree-value" value="0" class="radioField"/>Non Cree
									</label>
								</div>
							</td>
						</tr>
						<tr><td colspan="2" style="height:20px;"></td></tr>
						
					</table>
					<table cellspacing="0" cellpadding="0" class="diabet-editpatient">
						<tr>
							<td class="label-editpatient ">Type of diabetes :</td>
							<td ><select name="dtype" id="dtype-value" class="selectField"></select></td>
						</tr>
						<tr>
							<td class="label-editpatient">Date of diagnosis:</td>
							<td >
								<div class="textField">
									<input type="text" name="ddate" id="ddate-value"><i class="fa fa-calendar" aria-hidden="true"></i>
								</div>
								<input type="hidden" name="diabetcode" id="diabetcode-value"/>
								<input type="hidden" name="diabetidvalue" id="diabetidvalue-value"/>
							</td>
						</tr>
					</table>
				</td>
				<td valign="top">
					<table border="0">
						<tr><td class="label-editpatient">First Name :</td>
							<td>
								<div class="textField">
									<input type="text" name="fname" id="fname-value"/>
								</div>
							</td>
						</tr>
						<tr>
							<td class="label-editpatient">Last Name :</td>
							<td>
								<div class="textField">
									<input type="text" name="lname" id="lname-value"/>
								</div>
							</td>
						</tr>
						<tr style="display:none;"><td class="label-editpatient">Mother First Name :</td><td><input type="text" name="mfname" id="mfname-value" class="textField"/></td></tr>
						<tr style="display:none;"><td class="label-editpatient">Mother Last Name :</td><td><input type="text" name="mlname" id="mlname-value" class="textField"/></td></tr>
						<tr style="display:none;"><td class="label-editpatient">Father First Name :</td><td><input type="text" name="pfname" id="pfname-value" class="textField"/></td></tr>
						<tr style="display:none;"><td class="label-editpatient">Father Last Name :</td><td><input type="text" name="plname" id="plname-value" class="textField"/></td></tr>
						<tr>
							<td class="label-editpatient">Date of birth :</td>
							<td>
								<div class="textField">
									<input type="text" name="dob" id="dob-value"/><i class="fa fa-calendar" aria-hidden="true"></i>
								</div>
							</td>
						</tr>
						<tr>
							<td class="label-editpatient">Phone :</td>
							<td>
								<div class="textField">
									<input type="text" name="phone" id="phone-value"/>
								</div>
							</td>
						</tr>
						<tr>
							<td class="label-editpatient">Community :</td>
							<td>
								<select name="idcommunity" id="idcommunity-value" class="selectField">
								</select>
							</td>
						</tr>
						<tr style="padding:5px;">
							<td class="label-editpatient">Deceased :</td>
							<td>
							<div id="radio-deceased" class="btn-group" data-toggle="buttons">
								
								<label for="deceased-yes-value" class="btn btn-primary">
									<input type="radio" name="deceased" id="deceased-yes-value" value="1" class="radioField"/>Yes
								</label>
								
								<label for="deceased-no-value" class="btn btn-primary">
									<input type="radio" name="deceased" id="deceased-no-value" value="0" class="radioField"/>No
								</label>
							</div>
						</td>
					</tr>
						<tr><td colspan="2">
							<div id="deceased-section">
								<table>
									<tr>
										<td class="label-editpatient">Date of death :</td>
										<td>
											<div class="textField">
												<input type="text" name="dod" id="dod-value"/><i class="fa fa-calendar" aria-hidden="true"></i>
											</div>	
										</td>
									</tr>
									<tr>
										<td class="label-editpatient">Date cause :</td>
										<td>
											<div class="textField">
												<input type="text" name="dcause" id="dcause-value"/>
											</div>
										</td>
									</tr>	
								</table>
							</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan=2>
					<table id="hcp-edit" width="100%" border=0>
						<tr>
							<td colspan=2 ><b>Patient`s Health Care Workers</b></td>
							<td>CHR</td>
							<td>
								<div class="textField">
									<input type="text" name="chr" id="chr"/>
								</div>
								<input type="hidden" name="chrid" id="chrid"/>
							</td>
							<td>MD</td>
							<td>
								<div class="textField">
									<input type="text" name="md" id="md"/>
								</div>
								<input type="hidden" name="mdid" id="mdid"/>
							</td>
						</tr>
						<tr>
							<td>Nurse</td>
							<td>
								<div class="textField">
									<input type="text" name="nur" id="nur"/>
								</div>
								<input type="hidden" name="nurid" id="nurid"/>
							</td>
							<td>Nutritionist</td>
							<td>
								<div class="textField">
									<input type="text" name="nut" id="nut"/>
								</div>
								<input type="hidden" name="nutid" id="nutid"/></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		
		<div style="display:inline-block;width:48%;text-align:left;">
			<div id="deletepatient-button" class="cisbutton">Delete Patient</div>
		</div>
		<div style="display:inline-block;width:48%;text-align:right;">
			<div id='cancel-editpatient' class="cisbutton">Cancel</div> <div id="save-editpatient" class="cisbutton">Save</div>
		</div>
	</form>
	
</div>
</div>



<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm edit patient</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        	<div class="row">
       			<div class="col-md-6 mb-label" >First Name</div><div class="col-md-6 mb-value mbvalue-fname"></div>
       		</div>
       		<div class="row">
       			<div class="col-md-6 mb-label" >Last Name</div><div class="col-md-6 mb-value mbvalue-lname"></div>
       		</div>
       		<div class="row">
       			<div class="col-md-6 mb-label" >Ramq</div><div class="col-md-6 mb-value mbvalue-ramq"></div>
       		</div>
       		<div class="row">	
       			<div class="col-md-6 mb-label" >Chart</div><div class="col-md-6 mb-value mbvalue-chart"></div>
       		</div>
       		<div class="row">
       			<div class="col-md-6 mb-label" >IPM</div><div class="col-md-6 mb-value mbvalue-ipm"></div>
       		</div>
       		<div class="row">
       			<div class="col-md-6 mb-label" >Band</div><div class="col-md-6 mb-value mbvalue-band"></div>
       		</div>
       		<div class="row">
       			<div class="col-md-6 mb-label" >Community</div><div class="col-md-6 mb-value mbvalue-idcommunity"></div>
       		</div>
        	<div class="row">
       			<div class="col-md-6 mb-label" >Genre</div><div class="col-md-6 mb-value mbvalue-sex"></div>
       		</div>
       		<div class="row">
       			<div class="col-md-6 mb-label" >Date of birth</div><div class="col-md-6 mb-value mbvalue-dob"></div>
       		</div>
       		<div class="row">
       			<div class="col-md-6 mb-label" >Diabete type</div><div class="col-md-6 mb-value mbvalue-dtype"></div>
       		</div>
       		<div class="row">
       			<div class="col-md-6 mb-label" >Date of diagnosis</div><div class="col-md-6 mb-value mbvalue-ddate"></div>
       		</div>
       		<div class="row">
       			<div class="col-md-6 mb-label" >CHR</div><div class="col-md-6 mb-value mbvalue-chr"></div>
       		</div>
       		<div class="row">
       			<div class="col-md-6 mb-label" >MD</div><div class="col-md-6 mb-value mbvalue-md"></div>
       		</div>
       		<div class="row">
       			<div class="col-md-6 mb-label" >Nurse</div><div class="col-md-6 mb-value mbvalue-nur"></div>
       		</div>
       		<div class="row">
       			<div class="col-md-6 mb-label" >Nutritionist</div><div class="col-md-6 mb-value mbvalue-nut"></div>
       		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="edit-patient">Confirm Edit Patient</button>
      </div>
    </div>
  </div>
</div>
