<div class="cdisbody_dashboard">
	<div style="text-align:center;padding:5px;">
	<span style="font-family:Trebuchet MS; font-size:130%; line-height:1.4em;text-align:center;">All CDIS users can add new patients by choosing the <span class="ubs" 
		style="display:inline-block;
			    width: 30px;
			    height: 30px;
			    margin-left: 20px;
			    margin-right: 3px;
			    color:#ffffff;
			    background: #4b3b3b no-repeat url(../../images/work/add_off.png) center center;
			    -webkit-transition: 0.3s ease-in;
			    -moz-transition: 0.3s ease-in;
			    -o-transition: 0.3s ease-in;
			    transition: 0.3s ease-in;">+</span> button placed on the bottom left part of the screen.
	</span>
	</div>
	
	<div>&nbsp;</div>
</div>