
<div class="pageside">
	<div class="panel-record">
		<div class="summary-title uss">
		Patient Summary
		</div>
		<div id="patient-record"  class="uss">
			<div class="" id="name_line">
				<div class="patient-record-name record" id="name_value"></div>
			</div>
			<div class="" id="ramq_line">
				<div class="patient-record-label">RAMQ Number:</div>
				<div class="patient-record-value record" id="ramq_value"></div>
			</div>
			<div class="" id="chart_line">
				<div class="patient-record-label">Chart: </div>
				<div class="patient-record-value record" id="chart_value"></div>
			</div>
			<div class="" id="giu_line">
				<div class="patient-record-label">IPM: </div>
				<div class="patient-record-value record" id="giu_value"></div>
			</div>
			<div class="" id="community_line">
				<div class="patient-record-label">Community: </div>
				<div class="patient-record-value record" id="community_value"></div>
			</div>
			<div class="" id="sex_line">
				<div class="patient-record-label">Gender: </div>
				<div class="patient-record-value record" id="sex_value"></div>
			</div>
			<div class="" id="dob_line">
				<div class="patient-record-label">Date of birth: </div>
				<div class="patient-record-value record" id="dob_value"></div>
			</div>
			<div class="" id="dtype_line">
				<div class="patient-record-label">Type of diabetes:</div>
				<div class="patient-record-value record" id="dtype_value"></div>
			</div>
			<div class="" id="ddate_line">
				<div class="patient-record-label">Date of diagnosis: </div>
				<div class="patient-record-value record" id="ddate_value"></div>
			</div>
			<div class=" dead" id="dod_line">
				<div class="patient-record-label">Date of death:</div>
				<div class="patient-record-value record" id="dod_value"></div>
			</div>
			<div class=" dead" id="dcause_line">
				<div class="patient-record-label">Cause of death:</div>
				<div class="patient-record-value record" id="dcause_value" style="padding:10px;"></div>
			</div>
			<div class="" style="margin:5px 1px 5px 1px;">
				<table border=0 id="diabet-history" width="90%" cellspacing=0 cellpadding=3 align="center">
					<tr>
						<td colspan=3 class="diabet-history-title">Diabetes history</td>
					</tr>
					<tr>
						<td class="diabet-history-header">Date</td>
						<td class="diabet-history-header">Type of diabetes</td>
						<td class="diabet-history-header" style="width:20px;"></td>
					</tr>
				</table>	
			</div>
			<div class="" style="margin:5px 1px 5px 1px;">
				<table border=0 id="hcp" width="90%" cellspacing=0 cellpadding=3 align="center">
					<tr>
						<td colspan=2 class="hcp-title">Patient's Health Care Workers</td>
					</tr>
				</table>	
			</div>
			<div class="">
				<div id="patient-record-buttons">
					<!-- <div id="deletepatient-button-second" class="cisbutton">Delete Patient</div>  -->
					<div id="editpatient-button-second" class="cisbutton">Edit Patient</div>
				</div>
			</div>
			<div>&nbsp;</div>
		</div>
	</div>
	<div class="cdisfull uss" data-toggle="tooltip" title="CDIS Full Version">CDIS Full version</div>
</div>
<div class="pagebody">
	<div class="cdisbody_abcgraphs uss">
		
		<section>
		<!-- 
		<div style="width:100%;">
			<div class="row">
				<div id="leftPanel" class="col-sm-9">
					<div class="row" >
						<div class="col-sm-6">
							<div class="widget-container" id="hba1c"></div>
						</div>
						<div class="col-sm-6">
							<div class="widget-container" id="ldl"></div>
						</div>
					</div>
					<div class="row" >
						<div class="col-sm-6">
							<div class="widget-container" id="acratio_or_pcrg" condition="last"></div>
						</div>
						<div class="col-sm-6">
							<div class="widget-container" id="egfr" ></div>
						</div>
					</div>
				</div>
				
				<div id="rightPanel" class="col-sm-3">
					<div class="widget-container" id="sbp_and_dbp"></div>
				</div>	
				
			</div>
		 
		 </div>
		 -->
		 
		 
			<div class="row" style="width:100%;">
				<div id="leftPanel" class="col-sm-9">
					<div class="row" >
						<div class="col-sm-6">
							<div class="widget-container" id="hba1c"></div>
						</div>
						<div class="col-sm-6">
							<div class="widget-container" id="ldl"></div>
						</div>
					</div>
					<div class="row" >
						<div class="col-sm-6">
							<div class="widget-container" id="acratio_or_pcrg" condition="last"></div>
						</div>
						<div class="col-sm-6">
							<div class="widget-container" id="egfr" ></div>
						</div>
					</div>
				</div>
				
				<div id="rightPanel" class="col-sm-3">
					<div class="widget-container" id="sbp_and_dbp"></div>
				</div>	
				
			</div>
		 
		</section>
		 
	</div>
</div>

<script src="client/libs/js/pages/abc.js?tsid=20171201" type="text/javascript"></script>
<script src="client/libs/js/pages/widget.js?tsid=20171201" type="text/javascript"></script>


