<div class="pagebody">
	<div class="panel-section uss" id="lsection_miscellaneous">
		<div class="section-header">
			<span class="section-title">Vaccinations / TB Status</span>
		</div>
		 <section>
		 
		 <div style="width:100%;">
				<div class="row" >
					<div class="col-sm-6">
						<!-- <div class="widget-container" id="dophta"></div> -->
						<div class="widget-container" id="dinflu"></div>
					</div>
					<div class="col-sm-6">
						<div class="widget-container" id="dpneu"></div>
					</div>
					
				</div>
				<div class="row" >
					<div class="col-sm-6">
						<div class="widget-container" id="dppd"></div>
					</div>
					<div class="col-sm-6">
						
					</div>
					
				</div>
				<div class="row" >
					<div class="col-sm-6">
						<div class="widget-container" id="ppd"></div>
					</div>
					<div class="col-sm-6">
						<div class="widget-container" id="inh"></div>
					</div>
					
				</div>
				
				
			</div>
		 </section>
	</div>
</div>
<div class="pageside">
	<div class="panel-record uss">
	</div>
</div>
<script src="client/libs/js/pages/widget.js?tsid=20171201" type="text/javascript"></script>