<div class="pagebody">
	<div class="panel-section" id="lsection_complications">
		<div class="section-header">
			<span class="section-title">Existing Complications</span>
		</div>
		 <section>
		 
		 <div id="group0" class="subsection-container">
		 	<div class="subsection-title"></div>
		 	<div class="subsection">
					<div class="row" style="width:100%;">
						<div class="col-sm-4">
							<div class="widget-container" id="reti"></div>
						</div>
						<div class="col-sm-4">
							<div class="widget-container" id="lther"></div>
						</div>
						<div class="col-sm-4">
							<div class="widget-container" id="lblind"></div>
						</div>
					</div>
		 	</div>
		 </div>
		 
		 
		 <div id="group1" class="subsection-container">
		 	<div class="subsection-title"></div>
		 	<div class="subsection">
					<div class="row" style="width:100%;">
						<div class="col-sm-4">
							<div class="widget-container" id="micro"></div>
						</div>
						<div class="col-sm-4">
							<div class="widget-container" id="macro"></div>
						</div>
						<div class="col-sm-4">
							<div class="widget-container" id="renf"></div>
						</div>
					</div>
					<div class="row" style="width:100%;">
						<div class="col-sm-4">
							<div class="widget-container" id="dial"></div>
						</div>
						<div class="col-sm-4">
							<div class="widget-container" id="rplant"></div>
						</div>
					</div>
		 	</div>
		 </div>


		 <div id="group2" class="subsection-container">
		 	<div class="subsection-title"></div>
		 	<div class="subsection">
				<div class="row" style="width:100%;">
					<div class="col-sm-4">
						<div class="widget-container" id="neuro"></div>
					</div>
					<div class="col-sm-4">
						<div class="widget-container" id="fulcer"></div>
					</div>
					<div class="col-sm-4">
						<div class="widget-container" id="amput"></div>
					</div>
				</div>
		 	</div>
		 </div>

		 <div id="group3" class="subsection-container">
		 	<div class="subsection-title"></div>
		 	<div class="subsection">
				<div class="row" style="width:100%;">
					<div class="col-sm-4">
						<div class="widget-container" id="cad"></div>
					</div>
					<div class="col-sm-4">
						<div class="widget-container" id="cvd"></div>
					</div>
					<div class="col-sm-4">
						<div class="widget-container" id="pvd"></div>
					</div>
				</div>
				<div class="row" style="width:100%;">
					<div class="col-sm-4">
						<div class="widget-container" id="impot"></div>
					</div>
				</div>
		 	</div>
		 </div>

		 
		 </section>
	</div>
</div>
<div class="pageside">
	<div class="panel-record uss">
	</div>
</div>
<script src="client/libs/js/pages/widget.js?tsid=20171201" type="text/javascript"></script>