<div class="mainpage" id="cdisPage">
	<div class="header"></div>

	<div id="ub_cdismenu" class="cdismenu">
		<ul id="menu">
			<li><span class="patient_icon_"></span><label>Patient Summary</label></li>
			<li><span class="mdvisits_icon_"></span><label>Clinical / Screening</label></li>
			<li><span class="schedulevisits_icon_"></span><label>Schedule visits</label></li>
			<li data-toggle="tooltip" data-placement="right" title="Automatic update from Omnilab"><span class="lab_icon_" ></span><label>Glucose Control</label></li>
			<li data-toggle="tooltip" data-placement="right" title="Automatic update from Omnilab"><span class="renal_icon_"></span><label>Renal</label></li>
			<li data-toggle="tooltip" data-placement="right" title="Automatic update from Omnilab"><span class="lipid_icon_"></span><label>Lipids</label></li>
			<li><span class="complications_icon_"></span><label>Existing Complications</label></li>
			<li><span class="depression_icon_"></span><label>Distress / Depression Screening</label></li>
			<li><span class="meds_icon_"></span><label>Medication</label></li>
			<li><span class="miscellaneous_icon_"></span><label>Vaccinations / TB Status</label></li>
			<li><label>Messages</label><span class="notes_icon_"></span></li>
		</ul>
	</div>
  
	<div class="main">
		<div class="side"></div>
		<div class="page"></div>
	</div>
</div>	

 
<div class="cdisheader uss">
	<div class="logo">CDIS</div>
	<div class="search">
			<div id="criteria">CHART</div>
		  	<div id="radios" class="scriteria btn-group-vertical" data-toggle="buttons"">
			    <label for="chart" class="btn btn-default active"><input type="radio" id="chart" name="criteria" checked="checked">CHART</label>
			    <label for="ipm" class="btn btn-default"><input type="radio" id="ipm" name="criteria" >IPM</label>
			    <label for="ramq" class="btn btn-default"><input type="radio" id="ramq" name="criteria">RAMQ</label>
			    <label for="fnamelname" class="btn btn-default"><input type="radio" id="fnamelname" name="criteria">NAME</label>
		  	</div>
		  	<div class="ssearch"><input type="text" name="search" id="search" class="searchtext" tabindex="1"/></div>
	</div>
	
	<ul class="menu">
		<li class="personalinfo ubs" data-toggle="tooltip" data-placement="left" title="Personal Info"></li>
		<li class="users ubs" data-toggle="tooltip" data-placement="left" title="Users Administration"></li>
		<li class="frontpage ubs" data-toggle="tooltip" data-placement="left" title="Front page message"></li>
		<li class="audit ubs" data-toggle="tooltip" data-placement="left" title="Users action log"></li>
	</ul>
</div>
 
<div class="cdisfooter-left">
	
	<ul class="leftfootermenu">
		<li class="flogout ubs" data-toggle="tooltip" data-placement="left" title="Logout from CDIS"><span></span></li>
		<li class="fback ubs" data-toggle="tooltip" data-placement="left" title="Search for new patient"><span></span></li>
		<li class="freports ubs" data-toggle="tooltip" data-placement="left" title="Load CDIS reports"><span></span></li>
		<li class="fnew ubs"  data-toggle="tooltip" data-placement="left" title="Add new patient to CDIS"><span></span></li>
	</ul>
	<div class="leftmenu ubs"><i class="fa fa-bars" aria-hidden="true"></i></div>
</div>
<div class="cdisbody_patient_alerts"></div>
<script>
	$("#radios .btn").focusin(function() {
		$("#search").val("");
		$("#search").focus();
		$("#criteria").text($("#radios :radio:checked").parent().text());
		$("#radios").hide();
	});
	
	var c = getParameterByName("criteria");
	if(c != ""){
		$("#"+c).prop("checked", true).button("refresh");
		$("#criteria").text($("#radios :radio:checked").text());
	}
	

	$("#criteria").on("click",function(e){
		if(cdisSection != "dashboard"){
			$("#radios").show().delay(5000).fadeOut();	
		}
	});
	
	$("#menu li").each(function( index ) {
		var sclass = $(this).children("span").attr("class");
		var sec = sclass.substring(0,sclass.indexOf("_icon"));
		$(this).click(function() {
			//selectSection(sec);
			//window.location="cdis.html?section="+sec+"&ramq="+patientObj.ramq+"&sid="+sid+"&language=en";
			gtc(sid,"en",patientObj.ramq,sec);
		});
	});
	
	$(".cdisfooter-left").hover(function(){
		$(".leftfootermenu").toggle("fade");
	},function(){
		$(".leftfootermenu").toggle("fade");
	});
	
	
	
	
	var optionSelected = false;
	$("#search").autocomplete({
		delay: 300,
		minLength: 2,
		autoFocus: true,
		source: function( request, response ) {
			$.ajax({
				url: "/ncdis/service/data/searchPatient",
				dataType: "json",
				data: {
					criteria: $("#radios :radio:checked").attr('id'),
					term: request.term,
					language: "en",
					sid: sid
				},
				success: function( data ) {
					response( $.map( data.objs, function( item ) {
						return {
							idpatient : item.idpatient,
							lastname : item.lastname,
							firstname : item.firstname,
							chart : item.chart,
							ramq : item.ramq,
							community: item.community,
							giu: item.giu,
							criteria : $("#radios :radio:checked").attr('id'),
							term : request.term
						};
					}));
				}
			});
		},
		select: function( event, ui ) {
			optionSelected = true;
			clearSections();
			patientSearchObj = ui.item;
			gtc(sid,"en",patientSearchObj.ramq,"patient");
			return false;
		},
		open: function() {
			optionSelected = false;
			
		},
		close: function() {
			if(!optionSelected){
	    		$("#ub_cdisbody").fadeTo( "fast", 1 );
	    	}
		}
	}).data("ui-autocomplete")._renderItem = function(ul, item) {
			var $line = $("<a>");
			var $container = $("<div>",{}).appendTo($line);
			if(item.criteria == "fnamelname"){
				var fn = (item.firstname+" "+item.lastname).toString().toLowerCase();
				fn = replaceAll(fn,item.term.toLowerCase(), "<strong>"+item.term.toLowerCase()+"</strong>");
				$("<div>",{class:'searchname'}).appendTo($container).append($("<span>").html(fn.toUpperCase()));
			}else{
				$("<div>",{class:'searchname'}).appendTo($container).append($("<span>").html((item.firstname+" "+item.lastname).toUpperCase()));
			}
			$("<div>",{class:'searchcommunity'}).text(item.community).appendTo($container);
			if(item.criteria == "chart"){
				var cn = item.chart.toString();
				cn = replaceAll(cn,item.term, "<strong>"+item.term+"</strong>");
				$("<div>",{class:'searchchart'}).html("<span> "+cn+" </span>").appendTo($container);
			}else{
				$("<div>",{class:'searchchart'}).html("<span>"+item.chart+"</span>").appendTo($container);
			}
			if(item.criteria == "ramq"){
				var ran = (item.ramq).toString().toLowerCase();
				ran = replaceAll(ran, item.term.toLowerCase(), "<strong>"+item.term.toLowerCase()+"</strong>");
				$("<div>",{class:'searchramq'}).html("<span>"+ran.toUpperCase()+"</span>").appendTo($container);
			}else{
				$("<div>",{class:'searchramq'}).html("<span>"+item.ramq+"</span>").appendTo($container);
			}
			
			if(item.criteria == "ipm"){
				var gan = (item.giu).toString().toLowerCase();
				gan = replaceAll(gan, item.term.toLowerCase(), "<strong>"+item.term.toLowerCase()+"</strong>");
				$("<div>",{class:'searchgiu'}).html("<span>"+gan.toUpperCase()+"</span>").appendTo($container);
			}else{
				$("<div>",{class:'searchgiu'}).html("<span>"+item.giu+"</span>").appendTo($container);
			}
			var $liline = $("<li>");
			$liline.append($line).appendTo(ul);
			return $liline;
		};
</script>