<div class="pagebody">
	<div class="panel-section uss" id="lsection_renal">
		<div class="section-header">
			<span class="section-title">Glucose Control</span>
			
			<div style="display:inline-block;vertical-align:bottom;">
			<span class="section-misc">(Place cursor over selected points of the graph to highlight value and date)</span>
			<br><span class="section-note">Data in this section is updated automatically from Omnilab.</span>
			</div>
			<div class="cisbutton" onclick="printSectionGraphs('Glucose Control')" style="position:absolute;right:10px;top:3px;" title="Print all graphs in section">
				Print All Graphs
			</div>
		</div>
		 <section>
		  
		  <div style="width:100%;">
				<div class="row" >
					<div class="col-sm-6">
						<div class="widget-container" id="hba1c"></div>
					</div>
					<div class="col-sm-6">
						<div class="widget-container" id="acglu"></div>
					</div>
				</div>
			</div>
		  
		  
		 </section>
	</div>
</div>
<div class="pageside">
	<div class="panel-record uss">
	</div>
</div>
<script src="client/libs/js/pages/widget.js?tsid=20171201" type="text/javascript"></script>