
<div class="reportsbody_dashboard" >
	<div id="tabs">
	  <ul>
	    <li id="dashtab"><a href="#dashboard">Clinical Outcomes</a></li>
	    <li id="listtab"><a href="/ncdis/client/templates/reports.lists.html">Clinical Lists</a></li>
	    <!-- <li id="perstab"><a href="/ncdis/client/templates/reports.personal.html">Personal Reports</a></li> -->
	    <li id="admintab"><a href="/ncdis/client/templates/reports.admin.html">Admin Reports</a></li>
	    <li id="customtab"><a href="/ncdis/client/templates/reports.custom.html">Custom Reports</a></li>
	  </ul>
	  <div id="fullscreen-button" class="cisbutton ">Full screen dashboard</div>
	  <div id="dashboard"></div>
	</div>
</div>
<script>

$("#fullscreen-button").click(function(){
	if ((document.fullScreenElement && document.fullScreenElement !== null) ||    
	   (!document.mozFullScreen && !document.webkitIsFullScreen)) {
	    if (document.documentElement.requestFullScreen) {  
	      document.documentElement.requestFullScreen();  
	    } else if (document.documentElement.mozRequestFullScreen) {  
	      document.documentElement.mozRequestFullScreen();  
	    } else if (document.documentElement.webkitRequestFullScreen) {  
	      document.documentElement.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);  
	    }
	    $(this).text("Exit fullscreen");
	  } else {  
	    if (document.cancelFullScreen) {  
	      document.cancelFullScreen();  
	    } else if (document.mozCancelFullScreen) {  
	      document.mozCancelFullScreen();  
	    } else if (document.webkitCancelFullScreen) {  
	      document.webkitCancelFullScreen();  
	    }
	    $(this).text("Fullscreen Dashboard");
	  }  
});


function toggleFullScreen() {
	  if ((document.fullScreenElement && document.fullScreenElement !== null) ||    
	   (!document.mozFullScreen && !document.webkitIsFullScreen)) {
	    if (document.documentElement.requestFullScreen) {  
	      document.documentElement.requestFullScreen();  
	    } else if (document.documentElement.mozRequestFullScreen) {  
	      document.documentElement.mozRequestFullScreen();  
	    } else if (document.documentElement.webkitRequestFullScreen) {  
	      document.documentElement.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);  
	    }  
	  } else {  
	    if (document.cancelFullScreen) {  
	      document.cancelFullScreen();  
	    } else if (document.mozCancelFullScreen) {  
	      document.mozCancelFullScreen();  
	    } else if (document.webkitCancelFullScreen) {  
	      document.webkitCancelFullScreen();  
	    }  
	  }  
	}

$( "#tabs" ).tabs({
    beforeLoad: function( event, ui ) {
      ui.jqXHR.fail(function() {
        ui.panel.html( "Couldn't load this tab. We'll try to fix this as soon as possible. ");
      });
    }
});

if(userProfileObj.role.code!= "ROOT" && userProfileObj.role.code!= "ADMIN"){
	$("#admintab").remove();
	$("#tabs").tabs("refresh");
}

/*
if(userProfileObj.user.username != "radu"){
	$("#listtab").remove();
	$("#tabs").tabs("refresh");
}
*/

</script>
