<div id="surveillance" class="contentTab">
<div class="reportsbody-surveillance">
	<div class="surveillance-wraper">
		<div class="surveillance-stats">
			<!-- -->	
			<div class="surveillance-stats-trends"></div>
			<div class="surveillance-stats-epidemiology">
				<div class="surveillance-stats-epidemiology-exist"></div>
				<div class="surveillance-stats-epidemiology-new"></div>
			</div>
		</div>
		<div class="surveillance-filters"></div>
	</div>
</div>
</div>
<script src="client/libs/js/pages/reports.surveillance.js?_20230827" type="text/javascript"></script>
