<div class="reportsbody-surveillance">

<div class="surveillance-wraper">
	<div class="surveillance-stats">
		<!-- -->	
		<div class="surveillance-stats-trends"></div>
	
		<div class="surveillance-stats-epidemiology">
		 
			<div class="surveillance-stats-epidemiology-exist">
				
			</div>
			
			<div class="surveillance-stats-epidemiology-new">
				
			</div>
			
		</div>
			
	</div>
	
	<div class="surveillance-filters"></div>

</div>

</div>

<link type="text/css" rel="stylesheet" href="client/libs/css/surveillance.css?refreshcss=1&ts=1625680126">
<link type="text/css" rel="stylesheet" href="client/libs/css/surveillance-print.css?refreshcss=1&ts=1625680126" media="print">
<script src="client/libs/js/pages/surveillance.js?ts=1625680126" type="text/javascript"></script>
<script src="client/libs/js/pages/patient.js?ts=1625680126" type="text/javascript"></script>