<div id="importomnilab" class="contentTab">
<div class="reportsbody-importomnilab">

	<div class="importomnilab-wraper">
		<div class="importomnilab-selector">
			<div class="importomnilab-selector-header">Data by community</div>
			<div class="importomnilab-selector-elements"></div>
		</div>
		<div class="importomnilab-report">
			<div class="importomnilab-report-graph" id="irg"></div>
			<div class="importomnilab-report-table">
				<div class="importomnilab-report-table-header">
					<div class="col1">Date of import</div>
					<div class="col2">RAMQ</div>
					<div class="col3">Community</div>
					<div class="col4">Section of the test</div>
					<div class="col5">Name of the test</div>
					<div class="col6">Result of the test</div>
					<div class="col7">Date of test</div>
					<div class="col8"></div>
				</div>
				<div class="importomnilab-report-table-body"></div>
				<div class="importomnilab-report-table-filter">
					<div class="irtf-logo"><i class="fa fa-search"></i></div>
					<div class="irtf-input">
						<input type="text" name="irtf" id="irtf" placeholder="Filter Table"/> 
					</div>
					<div class="irtf-but">
						<div class="cisbutton" id="irtf-button">Filter Table</div> 
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
</div>
<script src="client/libs/js/pages/reports.importomnilab.js?_20230827" type="text/javascript"></script>
