<div class="reportsbody-pandi">
	<div class="pandi-wraper">
		<div class="pandi-history">
			<div class="pandi-history-existing section">
				<div class="title">Prevalence</div>
				<div id="pandiHistoryEx"></div>
			</div>
			<div class="pandi-history-new section">
				<div class="title">Incidence</div>
				<div id="pandiHistoryNew"></div>
			</div>
		</div>
		<div class="pandi-now">
			<div class="pandi-now-existing section">
				<div class="title">Prevalence (current cases)</div>
				<div id="pandiNowEx"></div>
			</div>
			<div class="pandi-now-new section">
				<div class="title">Incidence (new cases)</div>
				<div id="pandiNowNew"></div>
			</div>
		</div>
		<div class="pandi-filters">
			<div class="pandi-buttons">
				<div class="cisbutton" id="pandiApplyFilter">Apply Filter</div>
			</div>
			<div class="pandi-filter">
				<div class="community-box filter">
					<div class="pandi-label">Community</div>
					<select class="filter-input-select" id="pandiCommunity"></select>
				</div>
				<div class="community-box filter">
					<div class="pandi-label">Gender</div>
					<select class="filter-input-select" id="pandiGender"></select>
				</div>
				<div class="community-box filter">
					<div class="pandi-label">Age</div>
					<select class="filter-input-select" id="pandiAge"></select>
				</div>
				<div class="community-box filter">
					<div class="pandi-label">Type of diabetes</div>
					<div class="filter-input-radio pandi-dtype-group">
						<div class="filter-input-radio-item" grv-data="1_2">Type 1 and Type 2</div>
						<div class="filter-input-radio-item" grv-data="3">Pre DM</div>
						<div class="filter-input-radio-item last" grv-data="4">GDM</div>
						<input type="hidden" name="pandiDtype" id="pandiDtype">
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

<link type="text/css" rel="stylesheet" href="client/libs/css/pandi.css?refreshcss=1&ts=1625680126">
<script src="client/libs/js/pages/population.js?ts=1625680126" type="text/javascript"></script>
<script src="client/libs/js/pages/pandi.js?ts=1625680126" type="text/javascript"></script>
