<div id="reportsPage" class="pageClass">
	<div class="reportsheader uss">
		<div class="lmenu"></div>
		<div class="logo">CDIS</div>
		<div style="position:absolute;right:20px;font-size:170%;color:white;top:50%;margin-top:-20px;line-height:40px;font-familiy:Trebuchet MS;">Reports</div>
	</div>
	<div id="ub_reportsbody" class="reportsbody">
		<div id="ub_reportsbody_page"></div>
	</div>
	<div class="reportsfooter">
		<ul class="leftfootermenu">
			<li class="flogout ubs" ><span></span></li><div class="label flogoutlabel uss">Logout</div>
			<li class="fback ubs"><span></span></li><div class="label fbacklabel uss">Find patient</div>
		</ul>
	</div>	
</div>
<script>
	initNavigation();
	
</script>