<div class="reportsbody_custom">
	<div id="creports">
			
		<div class="customCriterias">
		<form name="customReportForm">
			<div id="general-list">
				<div class="custom-list-header">
					<div id="reportType">
						<span class="lab">Report Type</span>
						<input type="radio" name="reporttype" value="list" id="reportTypeList"/><label for="reportTypeList">List</label>
						<input type="radio" name="reporttype" value="graph" id="reportTypeGraph"/><label for="reportTypeGraph">Graph</label>
					</div>
					<div id="graphType">
						<span class="lab">Graph Type</span>
						<input type="radio" name="graphtype" value="line" id="graphTypeLine"/><label for="graphTypeLine">Line</label>
						<input type="radio" name="graphtype" value="bar" id="graphTypeBar"/><label for="graphTypeBar">Bar</label>
						<input type="radio" name="graphtype" value="pie" id="graphTypePie"/><label for="graphTypePie">Pie</label>
					</div>
					<div id="reportCriteria">
						<span class="lab">Number of patients</span>
						<input type="radio" name="reportcriteria" value="diabet" id="reportCriteriaDiabet"/><label for="reportCriteriaDiabet">per type of diabetes</label>
						<input type="radio" name="reportcriteria" value="community" id="reportCriteriaCommunity"/><label for="reportCriteriaCommunity">per community</label>
						<input type="radio" name="reportcriteria" value="gender" id="reportCriteriaGender"/><label for="reportCriteriaGender">per gender</label>
					</div>
					<div id="reportPeriod">
						<span class="lab">Report Period</span>
						<input type="radio" name="reportperiod" value="all" id="reportPeriodAll"/><label for="reportPeriodAll">All dates</label>
						<input type="radio" name="reportperiod" value="last" id="reportPeriodLast"/><label for="reportPeriodLast">Last dates</label>
						<input type="radio" name="reportperiod" value="between" id="reportPeriodBetween"/><label for="reportPeriodBetween">Between dates</label>
					</div>
					<div id="betweenPeriod">
						<input type="text" name="betweenv1" id="betweenv1" value=""/>
						<span class="lab">and</span>
						<input type="text" name="betweenv2" id="betweenv2" value=""/>
					</div>
					<div id="reportFilterContainer">
						<div id="reportFilter">
							<span class="lab">Filter patients</span>
							<input type="radio" name="reportfilter" value="all" id="reportFilterAll"/><label for="reportFilterAll">All patients</label>
							<input type="radio" name="reportfilter" value="hcp" id="reportFilterHcp"/><label for="reportFilterHcp">By HCP</label>
						</div>
						<div id="reportFilterSelect">
							<select id="hcptype">
								<option value="chr">CHR</option>
								<option value="md">MD</option>
								<option value="nur">Nurse</option>
								<option value="nut">Nutritionist</option>
							</select>
							<select id="hcpname"></select>
							<input type="hidden" id="hcpid" name="hcpid" value="0"/>
						</div>
					</div>
				</div>
				<div class="custom-list-body"></div>
			</div>
		</form>
		</div>
		
		<div class="customResults">
			<div id="custom-report-toolbar">
				<div id="custom-report-execute-button" class="cisbutton">Generate Report</div>
			</div>
			<div id="criteria-summary-label">Report Criterias</div>
			<div id="criteria-container">
				<div id="criteria-summary"></div>
			</div>
		</div>
	</div>
</div>
<script src="client/libs/js/pages/reports.custom.js?_20230827" type="text/javascript"></script>

