
<div class="mainpage" id="searchPage">
	<div class="header"></div>
	<div class="main">
		
		<div class="page">
			<div class="panel-full">
				<div class="search-message">
					<div style="text-align:center;padding:5px;">
					<span style="font-family:Trebuchet MS; font-size:130%; line-height:1.4em;text-align:center;">
					All CDIS users can <b>add new patients</b> by choosing the <span class="cisbutton ubs" style="margin:13px;"><i class="fa fa-bars" aria-hidden="true"></i></span> button on the bottom right part of the screen.
					</span>
					</div>
				</div>
			</div>

			
			<div class="panel-full">
				<form>
				<div class="search">
					
						
						<div id="radios" class="scriteria btn-group-vertical" data-toggle="buttons">
						    <label for="chart" class="btn btn-default active"><input type="radio" id="chart" name="criteria" checked="checked">CHART</label>
						    <label for="ipm" class="btn btn-default"><input type="radio" id="ipm" name="criteria">IPM</label>
						    <label for="ramq" class="btn btn-default"><input type="radio" id="ramq" name="criteria">RAMQ</label>
						    <label for="fnamelname" class="btn btn-default"><input type="radio" id="fnamelname" name="criteria">NAME</label>
					  	</div>
					  	
					  	<div class="ssearch">
					  		<div class="label">
					  			Find patient
					  		</div>
					  		<div class="input">
					  			<input type="text" name="search" id="search" class="searchtext" tabindex="1"/>
					  		</div>
					  		
					  	</div>
					
				</div>
				</form>
			</div>
				
			<div class="panel-full">
				<div class="dashboard-menu">
					<div class="cisbutton"  id="reports-button" data-toggle="tooltip" title="Execute reports">Reports</div> 
					<div class="cisbutton"  id="addpatient-button" data-toggle="tooltip" title="Add new patient">Add Patient</div> 
					<div class="cisbutton"  id="frontpage-button" data-toggle="tooltip" title="Manage fronpage message">Front Page Message</div>
				</div>
			</div>
			
			<div class="panel-full"><div class="notes-alert uss"></div></div>
			<div class="panel-full">
				<div class="personal-patients uss">
					<div class="linkedHeader"><p>Patients linked to <span id="userfullname"></span></p>  <div class="cisbutton" id="linkedPatients" data-toggle="tooltip" title="Open list of patients linked to user">Open Patient List</div></div>
					<table cellpadding="0" cellspacing="0">
						<thead>
							<tr>
								<td>patient full name</td>
								<td>chart</td>
								<td>ramq</td>
								<td>community</td>
								<td>Next Visit Date</td>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>	

 
<div class="cdisheader uss">
	<div class="logo">CDIS</div>
	<ul class="menu">
		<li class="personalinfo ubs" title="Personal information"></li>
		<li class="users ubs" title="Users Administration"></li>
		<li class="frontpage ubs" title="Front page message"></li>
		<li class="audit ubs" title="Users actions log"></li>
	</ul>
</div>

<div class="cdisfooter-left">
	<ul class="leftfootermenu">
		<li class="flogout ubs" data-toggle="tooltip" data-placement="left" title="Logout from CDIS"><span></span></li>
		<li class="freports ubs" data-toggle="tooltip" data-placement="left" title="Load CDIS reports"><span></span></li>
		<li class="fnew ubs" data-toggle="tooltip" data-placement="left" title="Add new patient to CDIS"><span></span></li>
	</ul>
	<div class="leftmenu ubs"><i class="fa fa-bars" aria-hidden="true"></i></div>
</div>
	


<script>

	

	$('#search').focus();

	if(typeof(userObj[0].idprofesion) != "undefined"){
		var hcpcat = profession_index[userObj[0].idprofesion];
		var iduser = userObj[0].iduser;
		$("#userfullname").text( capitalizeFirstLetter(userObj[0].firstname)+" "+capitalizeFirstLetter(userObj[0].lastname));
		getUserPatients(iduser,hcpcat);	
	}else{
		$(".personal-patients").hide();
	}
	
	
	if(userNotes.length > 0){
		$(".notes-alert").show();
		$.each(userNotes, function(i,not){
			var uzer = getUser(not.iduser);
			var patient = getPatientInfo(not.idpatient);
			$("<div>",{class:"message"})
				.append($("<span>").html("New message from <b>"+uzer.firstname+" "+uzer.lastname+ "</b> for the patient <b>"+patient.ramq+"</b>"))
				.append($("<div>",{class:"message-button"}).text("See Message").click(function(){
					//window.location = "cdis.html?section=notes&ramq="+patient.ramq+"&sid="+sid+"&language=en";
					gtc(sid,"en",patient.ramq,"notes");
				}))
			.appendTo($(".notes-alert"));
		});
		
	}else{
		$(".cdisbody_patient_alerts").hide();
		$(".notes_icon_").css("background","none");
	}
	
	
	
	/**/
	$("#radios .btn").focusin(function() {
		$("#search").val("");
		$("#search").focus();
	});
	

	$("#linkedPatients").click(function(){
		$(".personal-patients table").toggle();
		if($(".personal-patients table").is(":visible")){
			$("#linkedPatients").text("Close Patient List");
		}else{
			$("#linkedPatients").text("Open Patient List");
		}
	});
	
	
	$(".cdisfooter-left").hover(function(){
    	$(".leftfootermenu").toggle("fade");
    },function(){
    	$(".leftfootermenu").toggle("fade");
    });
	
	
	initNavigation();
	
	
	
	var optionSelected = false;
	$("#search").autocomplete({
		delay: 300,
		minLength: 2,
		autoFocus: true,
		source: function( request, response ) {
			$.ajax({
				url: "/ncdis/service/data/searchPatient",
				dataType: "json",
				data: {
					criteria: $("#radios :radio:checked").attr('id'),
					term: request.term,
					language: "en",
					sid: sid
				},
				success: function( data ) {
					
					response( $.map( data.objs, function( item ) {
						return {
							idpatient : item.idpatient,
							lastname : item.lastname,
							firstname : item.firstname,
							chart : item.chart,
							ramq : item.ramq,
							community: item.community,
							giu: item.giu,
							criteria : $("#radios :radio:checked").attr('id'),
							term : request.term
						};
					}));
				}
			});
		},
		select: function( event, ui ) {
			optionSelected = true;
			patientSearchObj = ui.item;
			$.cookie('ramq',patientSearchObj.ramq);
			gtc(sid,"en",patientSearchObj.ramq,"patient");
			return false;
		},
		open: function() {
			optionSelected = false;
		},
		close: function() {
			if(!optionSelected){
	    		$("#ub_cdisbody").fadeTo( "fast", 1 );
	    	}
		}
	}).data("ui-autocomplete")._renderItem = function(ul, item) {
			var $line = $("<a>");
			var $container = $("<div>").appendTo($line);
			//$line.height("95px");
			if(item.criteria == "fnamelname"){
				var fn = (item.firstname+" "+item.lastname).toString().toLowerCase();
				fn = replaceAll(fn,item.term.toLowerCase(), "<strong>"+item.term.toLowerCase()+"</strong>");
				$("<div>",{class:'searchname'}).appendTo($container).append($("<span>").html(fn.toUpperCase()));
			}else{
				$("<div>",{class:'searchname'}).appendTo($container).append($("<span>").html((item.firstname+" "+item.lastname).toUpperCase()));
			}
			$("<div>",{class:'searchcommunity'}).text(item.community).appendTo($container);
			if(item.criteria == "chart"){
				var cn = item.chart.toString();
				cn = replaceAll(cn,item.term, "<strong>"+item.term+"</strong>");
				//$("<div>",{class:'searchchart'}).html("<label>Chart Number :</label> <span>"+cn+"</span>").appendTo($container);
				$("<div>",{class:'searchchart'}).html("<span> "+cn+" </span>").appendTo($container);
			}else{
				//$("<div>",{class:'searchchart'}).html("<label>Chart Number :</label> <span>"+item.chart+"</span>").appendTo($container);
				$("<div>",{class:'searchchart'}).html("<span>[ "+item.chart+" ]</span>").appendTo($container);
			}
			if(item.criteria == "ramq"){
				var ran = (item.ramq).toString().toLowerCase();
				ran = replaceAll(ran, item.term.toLowerCase(), "<strong>"+item.term.toLowerCase()+"</strong>");
				$("<div>",{class:'searchramq'}).html("<span>"+ran.toUpperCase()+"</span>").appendTo($container);
			}else{
				$("<div>",{class:'searchramq'}).html("<span>"+item.ramq+"</span>").appendTo($container);
			}
			
			if(item.criteria == "ipm"){
				var gan = (item.giu).toString().toLowerCase();
				gan = replaceAll(gan, item.term.toLowerCase(), "<strong>"+item.term.toLowerCase()+"</strong>");
				$("<div>",{class:'searchgiu'}).html("<span>"+gan.toUpperCase()+"</span>").appendTo($container);
			}else{
				$("<div>",{class:'searchgiu'}).html("<span>"+item.giu+"</span>").appendTo($container);
			}
			var $liline = $("<li>");
			$liline.height("35px");
			$liline.append($line).appendTo(ul);
			$(ul).css("overflow-x","hidden");
			return $liline;
		};
</script>