<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>com.grv.cdis.services.ActionServiceServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>data</servlet-name>
		<servlet-class>com.grv.cdis.services.DataServiceServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>import</servlet-name>
		<servlet-class>com.grv.cdis.services.ImportServiceServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>migrator</servlet-name>
		<servlet-class>com.grv.cdis.migrator.MigratorServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>/service/action/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>data</servlet-name>
		<url-pattern>/service/data/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>import</servlet-name>
		<url-pattern>/service/import/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>migrator</servlet-name>
		<url-pattern>/migrator/action/*</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>1000</session-timeout>
	</session-config>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/errorpages/error500.html</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/WEB-INF/errorpages/error400.html</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/WEB-INF/errorpages/error401.html</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/errorpages/error403.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/errorpages/error404.html</location>
	</error-page>
	<resource-ref>
		<description>CDIS DB Connection</description>
		<res-ref-name>jdbc/cdis</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>

	</resource-ref>
	<!-- <resource-ref> <description>Old CDIS DB Connection</description> <res-ref-name>jdbc/old_cdis</res-ref-name> 
		<res-type>javax.sql.DataSource</res-type> <res-auth>Container3</res-auth> 
		</resource-ref> <resource-ref> <description>Old CHBUsers DB Connection</description> 
		<res-ref-name>jdbc/old_chbusers</res-ref-name> <res-type>javax.sql.DataSource</res-type> 
		<res-auth>Container4</res-auth> </resource-ref> -->

	<display-name>ncdis</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>